doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="vendors/vendor.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="vendors/vendor.js")
    script(src="js/app.js")
    title Project Title
  body
